<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" android:installLocation="internalOnly" package="uc.ciceron.cerberus" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:debuggable="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light">
        <activity android:label="@string/title_activity_settings" android:name="uc.ciceron.cerberus.SettingsActivity"/>
        <activity android:label="@string/title_activity_phone_editor" android:name="uc.ciceron.cerberus.PhoneEditorActivity"/>
        <activity android:name="uc.ciceron.cerberus.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="PUBG Mobile emulator bypass"/>
        <meta-data android:name="xposedminversion" android:value="53"/>
    </application>
</manifest>